<!DOCTYPE html>
<html lang="en">
    <%-include("./forAll/head.ejs")%>
<body class="body dark">
    <!-- bo profil e ekran -->
     <div class="profil-screen screen c" title="profile">
        <div class="profil-c">
            <div class="profil-img">
                <label for="pi">
                    <img src="image/logo.jpg" class="header-logo profil-image" id="profil-image">
                </label>
                <input style="display:none" type="file" id="pi">
                
                <h2 id="uid">Dibistanek</h2>
            </div>
            <div class="about-btn">
                <button class="shopin-btn">takip et</button>
                <div class="about-user">
                    <span>takipçi : 0</span>
                    <span>takip : 0</span>
                </div>
            </div>
         </div>
    
         <div class="shares-area">
            <div class="tab-row">
                <div class="tab-btn o" title="class">Derslerim</div>
                <div class="tab-btn" title="classcard">Ders Kartlarım</div>
                <div class="tab-btn" title="likes">Beğenilerim</div>
            </div>
            <div class="tabs">
                <div class="my-class tab o tab1" title="class">
                    <div class="my-class-card">
                        <div class="class-text">
                            <h1>ders başlık</h1>
                            <span>ders açıklaması</span>
                        </div>
                        <div class="about-class">
                            <span><i class="far fa-heart"></i> 0 </span>
                            <span><i class="fas fa-eye"></i> 0 </span>
                            <span><i class="fas fa-comment"></i> 0 </span>
                        </div>
                        <span class="bigger"><i class="fas fa-expand-arrows-alt"></i></span>
                        <img src="image/logo.jpg" alt="">

                    </div>
                </div>


                <div class="my-class tab classCard tab2" title="likes"> 
                    
                    <div class="my-class-card">
                        <div class="class-text">
                            <h1>ders başlık</h1>
                            <span>ders açıklaması</span>
                        </div>
                        <div class="about-class">
                            <span><i class="far fa-heart"></i> 0 </span>
                            <span><i class="fas fa-eye"></i> 0 </span>
                            <span><i class="fas fa-comment"></i> 0 </span>
                        </div>
                        <span class="bigger"><i class="fas fa-expand-arrows-alt"></i></span>
                        <img src="image/logo.jpg" alt="">

                    </div>
                    
                    <div class="my-class-card">
                        <div class="card-text">
                            <h1>card başlık</h1>
                            <span>card yazısı</span>
                        </div>
                        <div class="aboutCard" >
                            <span><i class="far fa-heart"></i> 0 </span>
                            <span><i class="fas fa-eye"></i> 0 </span>
                            <span><i class="fas fa-comment"></i> 0 </span>
                        </div>
                    </div>

                </div>

                <div class="my-class tab classCard tab3" title="classcard">
                    <div class="my-class-card">
                        <div class="card-text">
                            <h1>card başlık</h1>
                            <span>card yazısı</span>
                        </div>
                        <div class="aboutCard">
                            <span><i class="far fa-heart"></i> 0 </span>
                            <span><i class="fas fa-eye"></i> 0 </span>
                            <span><i class="fas fa-comment"></i> 0 </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="js/firebase-app-scripts/profile-data-setter.js"></script>



    <!-- <div class="screen" title="add-class"> add class</div> -->
    <!-- <div class="screen" title="chate"> chate </div> -->
    <!-- <div class="screen" title="shares"> share </div> -->
    <!-- <div class="screen" title="home"> home </div> -->
    <%-include("./parts/home.ejs")%>
    <%-include("./parts/shares.ejs")%>
    <%-include("./parts/chate.ejs")%>
    <%-include("./parts/adder.ejs")%>




    <!-- menuya bini -->
    <%-include("./parts/bottom-menu.ejs")%>

    
    <%-include("./forAll/scripts.ejs")%>

   
</body>
</html>